:root {
  --used: rgb(75, 75, 75);
  --unused: rgb(100, 100, 100);
  --wrongspot: rgb(190, 209, 15);
  --rightspot: rgb(37, 189, 37);
  --bkgrnd: darkslategrey;
}

body {
  background-color: var(--bkgrnd);
  color: white;
}

.used {
  background-color: var(--used);
}

.unused {
  background-color: var(--unused);
}

.notfound {
  background-color: var(--bkgrnd);
}

.wrong {
  background-color: var(--wrongspot);
}

.right {
  background-color: var(--rightspot);
}

.word {
  display: flex;
  min-width: 5.4em;
  max-width: 80vw;
}

.letterholder {
  font-size: 1.5em;
  font-family: sans-serif;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 1em;
  height: 1em;
  margin-right: 0.1em;
}

.cols2 {
  display: grid;
  /* grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 1fr; */
  grid-template-areas: 'a b';
}

.col1 {
  grid-area: 'a';
}

.col2 {
  grid-area: 'b';
}
